<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.PJDM.mapper.ServiceCheckinMapper">

    <resultMap id="CheckinListVOMap" type="com.PJDM.vo.CheckinListVO">
        <id     column="id"                  property="id"/>
        <result column="order_id"            property="orderId"/>
        <result column="accompanist_id"      property="accompanistId"/>
        <result column="accompanist_name"    property="accompanistName"/>
        <result column="order_no"            property="orderNo"/>
        <result column="checkin_type"        property="checkinType"/>
        <result column="checkin_location"    property="checkinLocation"/>
        <result column="checkin_photos"      property="checkinPhotos"/>
        <result column="checkin_description" property="checkinDescription"/>
        <result column="latitude"            property="latitude"/>
        <result column="longitude"           property="longitude"/>
        <result column="checkin_time"        property="checkinTime"/>
        <result column="create_time"         property="createTime"/>
    </resultMap>

    <select id="selectCheckinListPage" resultMap="CheckinListVOMap">
        SELECT
            c.id, c.order_id, c.accompanist_id,
            a.real_name AS accompanist_name,
            o.order_no,
            c.checkin_type, c.checkin_location, c.checkin_photos,
            c.checkin_description, c.latitude, c.longitude,
            c.checkin_time, c.create_time
        FROM service_checkin c
        LEFT JOIN user_accompanist a ON a.id = c.accompanist_id
        LEFT JOIN order_order o ON o.id = c.order_id
        <where>
            <if test="q.orderId != null">
                AND c.order_id = #{q.orderId}
            </if>
            <if test="q.accompanistId != null">
                AND c.accompanist_id = #{q.accompanistId}
            </if>
            <if test="q.checkinType != null">
                AND c.checkin_type = #{q.checkinType}
            </if>
        </where>
    </select>

</mapper>
